@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  width: 100%;
  height: 70px;
  background-color: #000;
  display: flex;
  align-items: center;
  border-bottom: 3px hsla(0, 0%, 100%, 0.06) solid;
}
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-nav__modal-menu {
  display: none;
}
.header-nav__logo {
  margin-left: 200px;
}
.header-nav__logo h1 {
  color: #fff;
  font-size: 30px;
}
.header-nav__logo h1:hover {
  cursor: pointer;
}
.header-nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 200px;
}
.header-nav__list-item {
  font-size: 15px;
  color: rgba(197, 200, 203, 0.377);
  text-decoration: none;
  padding-right: 50px;
  transition: 0.2s all ease;
}
.header-nav__list-item:hover {
  color: #fff;
}
.header-nav__list-shop {
  border: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
.header-nav__list-shop:hover {
  cursor: pointer;
}
@media (max-width: 1050px) {
  .header-nav__logo {
    margin-left: 50px;
  }
  .header-nav ul {
    margin-right: 50px;
  }
}
@media (max-width: 750px) {
  .header-nav__logo {
    margin-left: 40px;
  }
  .header-nav__list {
    display: none !important;
  }
  .header-nav__modal-menu {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-right: 40px;
  }
  .header-nav__modal-menu:hover {
    cursor: pointer;
  }
  .header-nav__modal-menu span {
    width: 20px;
    height: 2px;
    background-color: white;
  }
  .header-nav__modal-menu__modal-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header-nav__modal-menu__modal-menu.is-active .bar:nth-child(2) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.hero {
  height: 600px;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  border-bottom: rgba(255, 255, 255, 0.06) solid 2px;
}
.hero-title {
  font-size: 50px;
  background: linear-gradient(180deg, #fff, #adadad);
  -webkit-background-clip: text;
  color: transparent;
  width: 80%;
  text-align: center;
  letter-spacing: -3px;
}
.hero-description {
  font-size: 20px;
  color: rgba(197, 200, 203, 0.377);
  width: 50%;
  text-align: center;
}
.hero-description span {
  color: #fff;
}
.hero-buttons {
  display: flex;
  gap: 50px;
  padding-bottom: 100px;
}
.hero-buttons :nth-child(1) {
  border: none;
  background-color: #fff;
}
.hero-buttons :nth-child(2) {
  background-color: hsla(0, 0%, 100%, 0.06);
  border: #fff 2px solid;
  color: #fff;
}
.hero-buttons button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
}
.hero-buttons button:hover {
  cursor: pointer;
}
@media (min-width: 841px) and (max-width: 1150px) {
  .hero {
    height: 480px;
    padding-top: 80px;
  }
  .hero-title {
    font-size: 40px;
    width: 90%;
  }
  .hero-description {
    width: 80%;
    font-size: 16px;
  }
  .hero-buttons {
    gap: 40px;
    padding-bottom: 16px;
  }
  .hero-buttons button {
    width: 112px;
    height: 32px;
    border-radius: 8px;
    font-size: 13px;
  }
}
@media (max-width: 840px) {
  .hero {
    height: 360px;
    padding-top: 60px;
  }
  .hero-title {
    font-size: 30px;
    width: 90%;
  }
  .hero-description {
    width: 90%;
    font-size: 16px;
    padding-bottom: 15px;
  }
  .hero-buttons {
    gap: 30px;
    padding-bottom: 60px;
  }
  .hero-buttons button {
    width: 112px;
    height: 32px;
    border-radius: 8px;
    font-size: 13px;
  }
}
@media (max-width: 450px) {
  .hero {
    padding-top: 30px;
  }
  .hero-title {
    font-size: 25px;
  }
  .hero-description {
    font-size: 13px;
    padding-bottom: 15px;
  }
  .hero-buttons {
    gap: 20px;
    padding-bottom: 30px;
  }
  .hero-buttons button {
    border-radius: 8px;
    font-size: 13px;
  }
}

.destacable {
  height: 400px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.destacable-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.destacable-item {
  display: flex;
  align-items: center;
  gap: 50px;
}
.destacable-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.destacable h2 {
  font-weight: 400;
  width: 150px;
  color: white;
  font-size: 14px;
}
.destacable-arrow {
  width: 10px;
  height: 15px;
}
@media (min-width: 841px) and (max-width: 1150px) {
  .destacable {
    height: 320px;
  }
  .destacable-container {
    width: 90%;
  }
  .destacable-item {
    gap: 40px;
  }
  .destacable-circle {
    width: 56px;
    height: 56px;
  }
  .destacable h2 {
    width: 120px;
    font-size: 12px;
  }
  .destacable-arrow {
    width: 8px;
    height: 12px;
  }
}
@media (max-width: 840px) {
  .destacable {
    height: 240px;
  }
  .destacable-container {
    width: 100%;
  }
  .destacable-item {
    gap: 15px;
  }
  .destacable-circle {
    width: 42px;
    height: 42px;
  }
  .destacable h2 {
    width: auto;
    font-size: 9.6px;
  }
  .destacable-arrow {
    width: 6px;
    height: 9.6px;
  }
}
@media (max-width: 475px) {
  .destacable-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  .destacable-item {
    width: 200px;
  }
  .destacable-arrow {
    display: none !important;
  }
}

.pictures {
  width: 100%;
  height: 1000px;
  background: #000;
  display: flex;
  justify-content: center;
}
.pictures h2 {
  font-size: 50px;
  background: linear-gradient(180deg, #fff, #adadad);
  -webkit-background-clip: text;
  color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=index.css.map */
