@use "variables" as var;

.hero {
  height: 1150px;
  background: #000;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgba(255, 255, 255, 0.06) solid 3px;
  &-title {
    font-size: 42px;
    background: linear-gradient(180deg, #fff, #adadad);
    color: transparent;
    background-clip: text;
    width: 650px;
    margin-right: 40%;
    letter-spacing: -3px;
    padding-bottom: 100px;
  }
  &-container {
    overflow: hidden;
    align-items: flex-start;
    padding-bottom: 300px;
    padding-right: 160px;
  }
  &-image {
    width: 650px;
    height: 650px;
    align-self: flex-start;
    padding-bottom: 100px;
    float: left;
    padding-right: 250px;
  }
  &-card__image {
    grid: left;
    width: 650px;
    border: var.$dark-grey 3px solid;
    border-radius: 4px;
    box-sizing: border-box;
  }
  &-text {
    padding-left: 100px;
    width: 615px;
    height: 650px;
    align-self: flex-end !important;
    font-size: 21px;
    color: var.$light-grey;
    float: right;
    text-align: justify;
  }
}
.span {
  font-weight: bold;
  color: white;
}
